
#sectionAbout{
    padding-bottom: 20px;
    padding-top: 80px;
    
}
#sectionSkills{
    background-color: rgba(37, 185, 17, 0.692);
    padding-top: 80px;
    padding-bottom: 20px;
    
}
#sectionWorkexp{
    padding-top: 80px;
    padding-bottom: 20px;
}
#sectionEducation{
    padding-top: 80px;
    background-color: rgb(146, 188, 224);
    padding-bottom: 20px;
    
}
#sectionContacts{
    padding-top: 80px;
    padding-bottom: 20px;
    height: 100vh;
}

