#sectionAbout {
  padding-bottom: 20px;
  padding-top: 80px;
  background: radial-gradient(#ffffff, #c9c9c9);
}
#sectionSkills {
  background: radial-gradient(#5df049, #4a6e3a);
  padding-top: 80px;
  padding-bottom: 20px;
  color: #000000d5;
}
#sectionWorkexp {
  padding-top: 80px;
  padding-bottom: 20px;
  margin: 0;
  background: radial-gradient(#eb8787, #14101f);
}

#sectionEducation {
  padding-top: 80px;
  background: radial-gradient(#7bb6fa, #4c45b4);
  
  padding-bottom: 20px;
}
#sectionContacts {
  padding-top: 80px;
  padding-bottom: 20px;
  height: 100vh;
  background: radial-gradient(#ffffff, #c9c9c9);
}
