

.article h4{
    text-align: center;
    
}
#foto1{
    width: 305px;
    height: auto;
   /* object-fit: cover;
    object-position: 100% 5%;*/
    border-radius: 20px;
    box-shadow: 2px 2px 15px black ;
    margin: 1% 5%;
}
.container {
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    
  }
  
  .text {
    flex: 2;
    border-radius: 20px;
    padding: 1% 2%;
    
  }
  .image {
    flex: 1;
    
  }
 
 
  
  
  
